@import "/src/app/shared/variables";

.error-container {
    margin-bottom: 30px;

    p {
        color: $color-red-600;
    }
}

#tags {
    display: flex;
    margin: -5px;
    flex-wrap: wrap;

    li {
        padding: 5px 10px;
        background-color: lighten($color-primary, 50%);
        border-radius: 20px;
        font-size: 13px;
        margin: 5px;
        cursor: pointer;
        user-select: none;

        &.selected {
            background-color: $color-primary;
            color: white;
        }
    }
}