.header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 2em;  
    }

    .subtitle {
        color: gray;
    }

    .content {
        margin-left: auto;
    }
}