@import "/src/app/shared/variables";

.overview-item {
    padding: 20px 0;

    .item-row {
        padding: 15px 0;
        border-bottom: 1px solid $color-gray-200;
        display: flex;
        align-items: center;
    
        .trailing {
            margin-left: auto;
            font-size: 12px;
            display: flex;
            padding-left: 15px;
    
            & > * {
                margin: 0 5px;
            }
        }
    
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    & > header {
        margin-bottom: 15px;
        display: flex;

        span {
            font-weight: normal;
            font-size: 13px;
        }

        .trailing {
            margin-left: auto;
        }
    }
}