@import "/src/app/shared/variables";

.overview-item {
    padding: 20px 0;

    & > header {
        margin-bottom: 15px;
        display: flex;

        span {
            font-weight: normal;
            font-size: 13px;
        }

        .right {
            margin-left: auto;
        }
    }
}