@import "/src/app/shared/variables";

.sidebar {
    display: flex;
    flex-direction: column;

    ul {
        li {
            margin: 7px 0;
            font-size: 14px;
            color: rgb(80, 80, 80);
            cursor: pointer;
            user-select: none;

            &:hover {
                color: $color-primary;
            }

            &.active {
                color: $color-primary;
                font-weight: bold;
            }

            span {
                color: rgb(139, 139, 139)
            }
        }
    }

    button {
        background: none;
        border: none;
        font-size: 13px;
        font-weight: bold;

        &:hover {
            color: $color-primary;
        }
    }
}