<div class="sidebar">
    <app-sidebar-item name="categorieën" *ngIf="categories.count > 0">
        <ul>
            <li *ngFor="let category of categories.result" (click)="filterOnCategory(category)" [class]="{ 'active': isFilter('category', category.id) }">{{ category.name }} <span>({{ category.productCount }})</span></li>
        </ul>
        <button *ngIf="categories.count > categories.result.length" (click)="fetchCategories()">Meer...</button>
    </app-sidebar-item>

    <app-sidebar-item name="Nutri-Score">
        <ul>
            <li *ngFor="let score of nutriScores" (click)="filterOnNutriScore(score)" [class]="{ 'active': isFilter('nutriScore', score) }">
                Score {{ score }}
            </li>
        </ul>
    </app-sidebar-item>

    <app-sidebar-item name="Merk" *ngIf="brands.count > 0">
        <ul>
            <li *ngFor="let brand of brands.result" (click)="filterOnBrand(brand)" [class]="{ 'active': isFilter('brand', brand.id) }">{{ brand.name }} <span>({{ brand.productCount }})</span></li>
        </ul>
        <button *ngIf="brands.count > brands.result.length" (click)="fetchBrands()">Meer...</button>
    </app-sidebar-item>
</div>