@import "/src/app/shared/variables";

.overview {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.overview-item {

    p {
        font-weight: 400;
    }
    
    .item-info-list {
        li {
            font-size: 13px;
            margin-top: 2px;
        }
    }
}