<div class="container">
    <app-header title="Dashboard"></app-header>

    <main>
        <section>
            <app-overview-item class="overview-item" *ngIf="products" [items]="products.result" name="Producten" [count]="products.count" (create)="showProductModal()" (update)="showProductModal($event)" (remove)="removeProduct($event)">
                <ng-template appOverviewItemRow let-item>
                    <div class="product-item">
                        <img [src]="item.image" [alt]="item.name">
                        <div>
                            <p>{{ item.name }}</p>
                            <ul class="item-info-list">
                                <li>{{ item.brand.name }}</li>
                                <li>{{ item.weight }}</li>
                                <li>{{ item.nutriScore }}</li>
                                <li>€ {{ item.price }}</li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </app-overview-item>
        </section>

        <section class="overview">
            <app-overview-item class="overview-item" *ngIf="brands" [items]="brands.result" name="Merken" [count]="brands.count" (create)="showBrandModal()" (update)="showBrandModal($event)" (remove)="removeBrand($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>

            <app-overview-item class="overview-item" *ngIf="categories" [items]="categories.result" name="Categorieën" [count]="categories.count" (create)="showCategoryModal()" (update)="showCategoryModal($event)" (remove)="removeCategory($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>

            <app-overview-item class="overview-item" *ngIf="tags" [items]="tags.result" name="Labels" [count]="tags.count" (create)="showTagModal()" (update)="showTagModal($event)" (remove)="removeTag($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>
        </section>
    </main>

    <ng-template appPlaceholder></ng-template>
</div>