@import "/src/app/shared/variables";

.container {
    margin-bottom: 50px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px 0 -10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-300;

    li {
        margin: 10px;

        a.active {
            color: $color-primary;
            font-weight: bold;
        }
    }
}