<div class="container">
    <app-header title="Dashboard"></app-header>

    <main>
        <section class="overview">
            <app-overview-item *ngIf="products" name="Producten" [count]="products.count">
                <ul>
                    <li *ngFor="let product of products.result">
                        <p>{{ product.name }}</p>
                    
                        <ul>
                            <li>{{ product.brand.name }}</li>
                            <li>{{ product.weight }}</li>
                            <li>{{ product.nutriScore }}</li>
                        </ul>
                    </li>
                </ul>
            </app-overview-item>

            <app-overview-item class="overview-item" *ngIf="brands" [items]="brands.result" name="Merken" [count]="brands.count" (create)="showBrandModal()" (update)="showBrandModal($event)" (remove)="removeBrand($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>

            <app-overview-item class="overview-item" *ngIf="categories" [items]="categories.result" name="Categorieën" [count]="categories.count" (create)="showCategoryModal()" (update)="showCategoryModal($event)" (remove)="removeCategory($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>

            <app-overview-item class="overview-item" *ngIf="tags" [items]="tags.result" name="Tags" [count]="tags.count" (create)="showTagModal()" (update)="showTagModal($event)" (remove)="removeTag($event)">
                <ng-template appOverviewItemRow let-item>
                    <p>{{ item.name }}</p>
                    <ul class="item-info-list">
                        <li>Producten: {{ item.productCount }}</li>
                    </ul>
                </ng-template>
            </app-overview-item>
        </section>
    </main>

    <ng-template appPlaceholder></ng-template>
</div>