<app-nav></app-nav>
<div class="container">
    <h2>Winkelmandje</h2>

    <div class="cart-items-container">
        <ul id="cart-items" *ngIf="cartItems.length > 0; else noItems">
            <li *ngFor="let item of cartItems">
                <app-cart-items-row [item]="item" (remove)="removeItemFromCart(item)"></app-cart-items-row>
            </li>
        </ul>
    
        <ng-template #noItems>
            <div class="no-items-container">
                <fa-icon [icon]="icons.faBreadSlice"></fa-icon>
                <p>U hebt nog geen producten in uw winkelmandje gezet</p>
            </div>
        </ng-template>
    </div>

    <footer>
        <a [routerLink]="['/products']" class="button secondary">
            Vind producten
        </a>
        <ng-container *ngIf="cartItems.length > 0">
            <button class="button primary" *ngIf="userIsLoggedIn(); else loginButton" (click)="order()">
                Bestellen
            </button>
            <ng-template #loginButton>
                <button [routerLink]="['/login']" class="button primary">
                    Inloggen
                </button>
            </ng-template>
        </ng-container>
    </footer>

    <ng-template appPlaceholder></ng-template>
</div>