<app-nav></app-nav>
<div class="container" *ngIf="product">
    <header>
        <img [src]="product.image" [alt]="product.name">
        <div>
            <div id="product-title-container">
                <h1>{{ product.name }}</h1>
                <ul id="product-header-info-list">
                    <li>{{ product.category.name }}</li>
                    <li>{{ product.brand.name }}</li>
                    <li>{{ product.weight }}</li>
                    <li>Nutriscore: {{ product.nutriScore }}</li>
                    <li>EAN: {{ product.barcode }}</li>
                </ul>
            </div>

            <p class="description">{{ product.description }}</p>

            <hr>

            <div id="product-price-container">
                <app-product-price class="price" [price]="product.price" [size]="50"></app-product-price>
                <button (click)="addToCart()" class="button primary"><fa-icon [icon]="icons.faPlus"></fa-icon> Voeg toe</button>
                <p *ngIf="cartItem">{{ cartItem.quantity }} in winkelmandje</p>
            </div>
        </div>
    </header>

    <div class="recommended-lists">
        <app-product-detail-recommended class="recommended-list" [products]="brandProducts" [currentProduct]="product" title="Meer van {{ product.brand.name }}" [linkQueryParams]="{ brand: product.brand.id }"></app-product-detail-recommended>
        <app-product-detail-recommended class="recommended-list" [products]="categoryProducts" [currentProduct]="product" title="Soortgelijke producten" [linkQueryParams]="{ category: product.category.id }"></app-product-detail-recommended>
    </div>
</div>