@import "/src/app/shared/variables";

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 100%;

    header {
        display: flex;
        width: 100%;

        .title {

            .name {
                font-size: 17px;
            }

            .weight {
                color: $color-gray;
                font-weight: bold;
                margin: 5px 0;
            }
        }

        .add-to-card-container {
            margin-left: auto;

            .add-to-card-button {
                border: none;
                background-color: $color-primary;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: 10px;

                fa-icon {
                    color: white;
                }
            }
        }
    }

    .main {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        margin-top: auto;

        .price {
            margin-top: 5px;
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .icons {
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;

            li {
                margin-top: 5px;

                fa-icon {
                    font-size: 23px;

                    &.snowflake {
                        color: rgb(71, 135, 255);
                    }
                }
            }
        }

        img {
            max-width: 200px;
            width: 100%;
        }
    }
}