<div class="product-card">
    <header>
        <div class="title">
            <p class="name">{{ product.name }}</p>
            <p class="weight">{{ product.weight }}</p>
        </div>

        <div class="add-to-card-container">
            <button class="add-to-card-button">
                <fa-icon [icon]="icons.faPlus"></fa-icon>
            </button>
        </div>
    </header>

    <div class="main">
        <!-- <ul class="icons">
            <li>
                <fa-icon [icon]="icons.faSnowflake" class="snowflake"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="icons.faLeaf"></fa-icon>
            </li>
        </ul> -->

        <p class="price">
            <span class="euros">{{ getEuros() }}.</span><span class="cents">{{ getCents() }}</span>
        </p>

        <img [src]="product.image" [alt]="product.name">
    </div>
</div>