@import "/src/app/shared/variables";

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover img {
        transform: scale(1.03);
    }

    header {
        display: flex;
        width: 100%;

        .title {

            .name {
                font-size: 17px;
            }

            .price {
                font-size: 28px;
                font-weight: bold;
                display: flex;
                align-items: baseline;
                margin-top: 5px;

                .euro-sign {
                    font-size: 15px;
                    color: gray;
                }

                .euros {
                    letter-spacing: -3px;
                }

                .cents {
                    font-size: 15px;
                    margin-bottom: auto;
                    margin-top: 2px;
                }
            }
        }

        .add-to-card-container {
            margin-left: auto;

            .add-to-card-button {
                border: none;
                background-color: $color-primary;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                fa-icon {
                    color: white;
                }
            }
        }
    }

    .main {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        .icons {
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;

            li {
                margin-top: 5px;

                fa-icon {
                    font-size: 23px;

                    &.snowflake {
                        color: rgb(71, 135, 255);
                    }
                }
            }
        }

        img {
            transition: .3s;
            max-width: 200px;
        }
    }
}