<div class="sidebar">
    <app-sidebar-item name="Producten">

    </app-sidebar-item>

    <app-sidebar-item name="Nutri-Score">
        <ul>
            <li>
                Score A
            </li>
            <li>
                Score B
            </li>
        </ul>
    </app-sidebar-item>

    <app-sidebar-item name="Merk">
        <ul>
            <li>ABC</li>
            <li>Argal</li>
            <li>Doritos</li>
            <li>Dr. Oetker</li>
            <li>Go-Tan</li>
        </ul>
    </app-sidebar-item>

    <app-sidebar-item name="Prijs">

    </app-sidebar-item>
</div>