.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 40px;
}

main {
    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}